@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 20 6% 90%;
  --foreground: 217 33% 17%;
  --card: 60 5% 96%;
  --card-foreground: 217 33% 17%;
  --popover: 60 5% 96%;
  --popover-foreground: 217 33% 17%;
  --primary: 239 84% 67%;
  --primary-foreground: 0 0% 100%;
  --secondary: 24 6% 83%;
  --secondary-foreground: 215 14% 34%;
  --muted: 20 6% 90%;
  --muted-foreground: 220 9% 46%;
  --accent: 292 44% 93%;
  --accent-foreground: 217 19% 27%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 24 6% 83%;
  --input: 24 6% 83%;
  --ring: 239 84% 67%;
  --chart-1: 239 84% 67%;
  --chart-2: 243 75% 59%;
  --chart-3: 245 58% 51%;
  --chart-4: 244 55% 41%;
  --chart-5: 242 47% 34%;
  --radius: 1.25rem;
  --sidebar: 24 6% 83%;
  --sidebar-foreground: 217 33% 17%;
  --sidebar-primary: 239 84% 67%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 292 44% 93%;
  --sidebar-accent-foreground: 217 19% 27%;
  --sidebar-border: 24 6% 83%;
  --sidebar-ring: 239 84% 67%;
}
.dark {
  --background: 30 11% 11%;
  --foreground: 214 32% 91%;
  --card: 26 9% 16%;
  --card-foreground: 214 32% 91%;
  --popover: 26 9% 16%;
  --popover-foreground: 214 32% 91%;
  --primary: 234 89% 74%;
  --primary-foreground: 30 11% 11%;
  --secondary: 26 6% 21%;
  --secondary-foreground: 216 12% 84%;
  --muted: 26 9% 16%;
  --muted-foreground: 218 11% 65%;
  --accent: 26 5% 27%;
  --accent-foreground: 216 12% 84%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 30 11% 11%;
  --border: 26 6% 21%;
  --input: 26 6% 21%;
  --ring: 234 89% 74%;
  --chart-1: 234 89% 74%;
  --chart-2: 239 84% 67%;
  --chart-3: 243 75% 59%;
  --chart-4: 245 58% 51%;
  --chart-5: 244 55% 41%;
  --sidebar: 26 6% 21%;
  --sidebar-foreground: 214 32% 91%;
  --sidebar-primary: 234 89% 74%;
  --sidebar-primary-foreground: 30 11% 11%;
  --sidebar-accent: 26 5% 27%;
  --sidebar-accent-foreground: 216 12% 84%;
  --sidebar-border: 26 6% 21%;
  --sidebar-ring: 234 89% 74%;
}
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px !important;
}

.prose hr {
  margin: 16px 0;
}

.prose p {
  padding: 16px 0;
}

.prose strong {
  font-weight: 600;
}

.prose pre {
  white-space: pre-line;
}

.text-hero {
  font-weight: 500;
}
